
<div class="password-strength-widget">
    
    <label for="password">
        Create Password
    </label>
    
    <br>
    
    <input id="password" name="password" type="{{password.type}}" ng-trim="false" ng-model="password.value" ng-change="onPasswordChange(password)">
    <label for="show-password">
        <input type="checkbox" name="show-password" id="show-password" ng-model="password.type" ng-true-value="text" ng-false-value="password">
      Show Password
    </label>        
    
    <br>
    <br>
    
    <span>{{password.status}}</span>
    <div class="meter-wrapper">
      <div ng-class="{ 'danger' : password.meterWidth < 100 }" style="width:{{password.meterWidth}}%;"></div>
    </div>
    
    <br>
    
    <ul>
        <li ng-class="{ 'invalid' : !password.rules.hasNumber }">At least one number (0-9)</li>
        <li ng-class="{ 'invalid' : !password.rules.hasLetter }">At least one letter (a-z)</li>
        <li ng-class="{ 'invalid' : !password.rules.isValidLength }">At least 6 characters</li>
        <li ng-class="{ 'invalid' : !password.rules.noSpecialChar }">No spaces, forward slashes (/) or double quote marks (")</li>
    </ul>
    
</div>